

.headerContainer {
    border-radius: 0px;
    background: #000000;
    box-shadow:  5px 5px 10px #bababa,
                -5px -5px 10px #ffffff;
}
* {
    margin: 0;
    padding: 0;
    transition: 0.1ms;
}

body {
    font-family: 'Inter', sans-serif;
    height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 6.25rem;
    border-radius: 0px;
    background: #ffffff;
    box-shadow:  0px 2px 4px #656565;
}

header .nav-bar {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
}

.ul-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
}
a{
 text-decoration: none;
 color: black;

}

ul {
   list-style-type: none;
}

.sectionPresentation {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 6rem;
    margin-top: 100px;
}

.buttonPresentation {
    display: flex;
    width: 100%;
    justify-content: left;
}

.titlePresentation {
    font-family: 'Inter', sans-serif;
    font-size: 60px;
    color: red;

}

.subTilePresentation {
    font-size: 16px;
    font-weight: 500;
    color: rgb(2, 4, 38);
}

.containerText {
    width:50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.buttonPresentation button {
    padding: 14px 20px;
    border-radius: 1rem;
    border: none;
    font-size: 1rem;
}

.cardPlans {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    padding: 15rem 6rem;
}

.cardsContainerPlans {
    display: flex;
    flex-direction: column;
    background-color: #0f062d;
    padding: 20px;
    border-radius: 1.2rem;
    color: #fff;
}

.buttonCards{
    padding: 14px 20px;
    border-radius: 1.2rem;
    border: none;
    font-size: 1rem;
}

.titleCard {
    padding-bottom: 12px;
}

.containerBtn {
 padding-top: 3rem;
}

/* footer */

footer {
    background-color: red;
    height: 400px;
    padding: 3rem 6rem;
    color: #fff;
}

.footerContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.socialMedias {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.socialMedias a {
    color: #fff;   
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem; 
}

.boxInformation {
    padding: 3rem 6rem;
}

.boxInformation h3{
    text-align: center;
}

.boxInformation img{
width: 400px;
height: 300px;
}


.boxInformation-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;

}